<!-- src/app/shared/notifications-toggle/notifications-toggle.component.html -->

<ng-container *ngIf="state$ | async as state">
  <ion-card *ngIf="state === 'unsupported'">
    <ion-card-content>
      <ion-icon name="alert-circle-outline"></ion-icon>
      <div>Notifikacje nie są wspierane przez przeglądarke.</div>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="primary" *ngIf="state === 'prompt' || state === 'idle'" (click)="enable()">
    <ion-icon name="notifications-outline" slot="start"></ion-icon>
      Włącz notyfikacje
  </ion-button>

  <ion-item color="success" lines="none" *ngIf="state === 'enabled'">
    <ion-icon name="notifications" slot="start"></ion-icon>
    <ion-label>Notyfikacje włączone</ion-label>
    <ion-button fill="clear" color="medium" slot="end" (click)="disable()">Wyłącz</ion-button>
  </ion-item>

  <ion-item color="warning" lines="none" *ngIf="state === 'denied'">
    <ion-icon name="close-circle" slot="start"></ion-icon>
    <ion-label>Notifikacje zablokowane przez przeglądarke</ion-label>
  </ion-item>
</ng-container>
