.row {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.chart-type-selector {
  display: flex;
  gap: 10px;
}

.button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  i {
    font-size: 18px;
  }

  &:hover {
    background-color: #ddd;
  }

  &.active {
    background-color: #007bff;
    color: white;

    i {
      color: white;
    }
  }
}


canvas {
  max-height: 300px;
}
