<div class="row">

<div class="chart-type-selector chart-series-type">
  <button
    class="button"
    [class.active]="chartType === 'bar'"
    (click)="selectChartType('bar')">
    <i class="icon-bar"></i> Słupkowy
  </button>
  <button
    class="button"
    [class.active]="chartType === 'line'"
    (click)="selectChartType('line')">
    <i class="icon-line"></i> Liniowy
  </button>
</div>

<div class="chart-type-selector">


  @for (key of availableKeys; track key) {
  <button
    class="button"
    [class.active]="keyToDisplay === key"
    (click)="selectDataKey(key)">
    <i class="icon-bar"></i> {{getKeyName(key)}}
  </button>
  }

  @if(temperature.length) {
    {{temperature[0].sensorId}}
  }
</div>

</div>
<div style="display: block;">
  <canvas baseChart
          [data]="chartData"
          [options]="chartOptions"
          [type]="chartType"
          (dblclick)="onChartDoubleClick($event)"
          (chartClick)="onChartClick($event)"
  >
  </canvas>

  <ion-row  class="flex ion-justify-content-between ion-align-items-center">
    @if(!isLive){
      {{sensorName}}
    }

    <ion-row  class="wrap flex ion-justify-content-end ion-align-items-center">


    <button
      class="button active ion-margin-end"
      [class.success]="isAnnotationVisible"

      (click)="toggleAnnotations()">
      @if(isAnnotationVisible) {
        Ukryj
      }@else {
        Pokaż
      }
      adnotacje

    </button>
    @if(newAnnotation) {
        <span class="ion-margin-end">
          {{newAnnotation.from_timestamp.length === 0 ? 'Wybierz początek adnotacji' : 'Wybierz koniec adnotacji'}}
        </span>
    }

    @if(!newAnnotation) {
<!--      <button-->
<!--        class="button active"-->
<!--        (click)="presentAnnotationOptions()">-->
<!--        Dodaj Adnotacje-->
<!--      </button>-->

    } @else {
      <button
        class="button active warning"
        (click)="newAnnotation = null">
        Anuluj
      </button>

    }
    </ion-row >

          <button
            class="button active"
            (click)="openChartOperationsList($event)">
            Operacje
          </button>
  </ion-row >

</div>
