version: "3.8"

services:
  backend:
    build:
      context: .
      target: backend
    image: brado-backend
    ports:
      - "3100:3000"
    restart: always
    depends_on:
      - postgres
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      NODE_ENV: "production"
    networks:
      - internal

  connector:
    build:
      context: .
      target: connector
    image: brado-connector
    volumes:
      - /home/ubuntu/apps/brado/apps/connector/logs:/app/logs
    ports:
      - "4100:4000" # Adjust as needed
    restart: always
    networks:
      - internal
    environment:
      READINGS_ENDPOINT: ${READINGS_ENDPOINT}
      TEMP_ENDPOINT: ${TEMP_ENDPOINT}
  frontend:
    build:
      context: .
      target: frontend
    image: brado-frontend
    ports:
      - "8080:80" # Nginx default
    restart: always

  postgres:
    image: postgres:15
    container_name: brado_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./postgres-config/postgresql.conf:/etc/postgresql/postgresql.conf
      - ./postgres-config/pg_hba.conf:/etc/postgresql/pg_hba.conf
    command: ["postgres", "-c", "config_file=/etc/postgresql/postgresql.conf", "-c", "hba_file=/etc/postgresql/pg_hba.conf"]
    networks:
      - internal

networks:
  internal:
    driver: bridge

volumes:
  pgdata:
