<ion-content class="gray-bg">
  <div class="sensor-grid">

    @if (liveSensors() | keyvalue ; as sensors) {
      @if (sensors.length > 0) {
        @for (keypar of sensors; track keypar.key) {
          <div class="sensor-card">
            <app-sensor-stats [hourlyTarget]="hourlyTarget" [sensorName]="getSensorName(keypar.key)" [data]="keypar.value" [sensorID]="keypar.key"></app-sensor-stats>
          </div>
        }
      } @else {
        <div class="no-results">
          Brak danych z dzisiaj
        </div>
      }
    }

  </div>



</ion-content>
