.wrapper {
  padding: .5rem;

  .text {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

    span {
      white-space: nowrap;
      display: block;
    }
  }
}
