<div class="chart-grid">

  @if (data && data.readings) {
    <div class="chart-wrapper" #chartContainer>
      <div class="chart-container">

        <app-pie-chart
          [value]="data.average5"
          [disableAnimation]="true"
          [target]="hourlyTarget / 60"
        ></app-pie-chart>
        <p>Średnia - 5min</p>

      </div>


      <div class="chart-container">

        <app-pie-chart
          [value]="data.average60"
          [disableAnimation]="true"
          [target]="hourlyTarget / 60"
        ></app-pie-chart>
        <p>Średnia - 60min</p>
      </div>
    </div>

    <app-chart
      [data]="data.readings"
      [disableAnimation]="true"
      [isLive]="true"
    >
    </app-chart>
  } @else {

    <p>Czekam na dane...</p>
  }

</div>
