
:host {
  width: 100%;
}

.chart-grid {
  display: grid;
  grid-gap: 1rem;
  //padding: 1rem;

  // Mobile: 1 column
  grid-template-columns: 1fr;

  // Tablet and up: 2 columns
  @media (min-width: 980px) {
    grid-template-columns: 150px 1fr;

  }

  &.dash-sensor {
  display: flex;
    .gauges {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      text-align: center;
      flex-wrap: wrap;
      .sensor-name {
        width: 100%;
      }
      .chart-container {
        margin-right: 1rem;
        width: 210px;
      }
    }
  }
}


@media (max-width: 980px) {
  .chart-grid {
    .gauges {

      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .chart-container {
        width: 45%;
      }
    }
  }
  .sensor-name{
    width: 100%;
  }

}

.chart-wrapper {
  background: #fff;
  //padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.chart-container {
  width: 100%;
  aspect-ratio: 1 / 1; // Keep it square
  position: relative;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  p {
    margin: 0 0 5px;
  }
}

.stats {
  padding-left: 1rem;
  text-align: left;
}
