<ion-content class="gray-bg ion-padding">
  <!--  <div class="sensor-grid">-->
  <h2>Temperatury ( aktualne ) </h2>

  @if (tempStore.currentTemps() | keyvalue; as readings) {

    <ion-row>
      @for (keypar of readings; track keypar.key) {
        <ion-col size="12" size-sm="6" size-md="4">
          <app-temp-card [name]="keypar.key" [temp]="keypar.value"></app-temp-card>
        </ion-col>
      }
    </ion-row>

    <small>* Kliknij w wybrany termometr żeby zobaczyć szczegółowe dane</small>
  }
  <!--  </div>-->

  <button
    class="button active ion-margin-top"
    (click)="exportTempToExcel()">
    Eksportuj wszystkie do Excel
  </button>
</ion-content>
