<ion-content class="gray-bg">
  <!--  <div class="sensor-grid">-->

  @if (dataStore.weeklyReadings() | keyvalue; as readings) {

    @for (keypar of readings; track keypar.key) {

      <div class="sensor-card">

        <app-chart [data]="keypar.value" [hourlyTarget]="hourlyTarget" [sensorNames]="sensorNames"
                   (reloadAnnotations)="getAnnotations()"/>

<!--        <app-working-stats [sensorId]="keypar.key" [isMultipleDays]="true" [readings]="keypar.value"/>-->
      </div>
    }

    <ion-row class="ion-row-flex flex ion-justify-content-end ion-margin-end">
      <button class="button active" (click)="exportDataToExcel()">Eksportuj do Excel</button>
    </ion-row>
  }
  <!--  </div>-->
</ion-content>

