<ion-content class="gray-bg">

  <div class="sensor-grid">

    @if (dataStore.liveData() | keyvalue; as sensors) {
      @if (sensors.length > 0) {

        <div class="sensor-card">
          <app-sensor-stats [isDashboardMode]="true" [isAdminDashboard]="isAdminPanel" [hourlyTarget]="hourlyTarget" [sensorName]="sensorName" [sensorId]="'2'"
                            [data]="dataStore.liveData()[2]" [workingSummary]="isAdminPanel ? monthlyWorkingStats()[2] : dailyWorkingStats()[2]"></app-sensor-stats>
<!--          Todo sensorID shouldnt be hardcoded-->
        </div>

      } @else {
        <div class="no-results">
          Brak danych z dzisiaj
        </div>
      }
    }
    @if ((isAdminPanel? tempStore.avgTempsLastHour() : tempStore.currentTemps() ) | keyvalue; as readings) {
      <h4 class="ion-padding">Temperatury {{isAdminPanel ? '( średnie z 24h )' : '( aktualne )' }}</h4>
      <ion-row>
        @for (keypar of readings; track keypar.key) {
          <ion-col size="12" size-sm="6" size-md="4">
            <app-temp-card [name]="keypar.key" [temp]="keypar.value"></app-temp-card>

          </ion-col>
        }
      </ion-row>
    }

    <small>* Kliknij w wybrany termometr żeby zobaczyć szczegółowe dane</small>

  </div>

</ion-content>
