<ion-content class="gray-bg">

  <div class="sensor-grid">

    @if (dataStore.liveData() | keyvalue; as sensors) {
      @if (sensors.length > 0) {

        <div class="sensor-card">
          <app-sensor-stats [isDashboardMode]="true" [hourlyTarget]="hourlyTarget" [sensorName]="sensorName"
                            [data]="dataStore.liveData()[2]" [annotations]="groupedAnnotations()[2]"></app-sensor-stats>
        </div>

      } @else {
        <div class="no-results">
          Brak danych z dzisiaj
        </div>
      }
    }

    @if (tempStore.liveData() | keyvalue; as readings) {

      <ion-row>
        @for (keypar of readings; track keypar.key) {
          <ion-col size="12" size-sm="6" size-md="4">
            <div class="sensor-card card-temp">
              <ion-icon name="thermometer-outline"></ion-icon>
              {{ keypar.value[keypar.value.length - 1].sensorId }}
              &nbsp; <b>{{ keypar.value[keypar.value.length - 1].temperature }}°C</b>
            </div>
          </ion-col>
        }
      </ion-row>
    }

  </div>

</ion-content>
