@if(dailyWorkingStats) {
 <div class="stats">
  <p>Czas pracy: <b>{{(dailyWorkingStats.totalTime / 3600000) | number:'1.1-1'}}h</b></p>
  <p>Awarie: <b>{{dailyWorkingStats.accidents.count}} / {{(dailyWorkingStats.accidents.totalDurationMs / 3600000) | number:'1.1-1' }}h</b></p>
  <p>Przerwy: <b>{{dailyWorkingStats.breaks.count}} / {{(dailyWorkingStats.breaks.totalDurationMs / 3600000) | number:'1.1-1' }}h</b></p>
  <p>Organizacji: <b>{{dailyWorkingStats.organisations.count}} / {{(dailyWorkingStats.organisations.totalDurationMs / 3600000) | number:'1.1-1' }}h</b></p>
  <p>Wym. Strzem.: <b>{{dailyWorkingStats.clipsChanges.count}} / {{(dailyWorkingStats.clipsChanges.totalDurationMs / 3600000) | number:'1.1-1' }}h</b></p>
  <p> MTBF: <b>{{(MTBF / 3600000) | number:'1.1-1'}}h</b></p>
  <p> MTTR: <b>{{(MTTR / 3600000) | number:'1.1-1'}}h</b></p>
</div>
}
