/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';



.gray-bg {
  --background: #f0f0f0; // Ionic way to override background
  background-color: #f0f0f0;
}

.ion-page {
  overflow: auto;
}



.sensor-grid {

  grid-gap: 1rem;
  padding: 1rem;

  // Mobile: 1 column
  grid-template-columns: 1fr;

  // Tablets and up: auto-fit into available space
  @media (min-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.sensor-card {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:not(.active) {
    color: #333;
  }

  i {
    font-size: 18px;
  }

  &:hover {
    background-color: #ddd;
  }

  &.active {
    background-color: #007bff;
    color: white;

    i {
      color: white;
    }
  }
  &.warning {
    background: #ffc409;
  }
}



ion-range-calendar-month .days-box {
  .days {
    height: 25px !important;
  }
}


ion-menu-button {
  .button-inner {
    width: 20px !important;
  }
}
