<ion-button expand="block" color="primary" (click)="emitChanges()" [disabled]="dateRanges.length === 0">
  ➕ Porównaj!
</ion-button>



<!--<ion-list>-->
  <div *ngFor="let range of dateRanges; let i = index" class="ion-margin-bottom">


    <ion-range-calendar
      [(ngModel)]="dateRanges[i]"
      [options]="optionsRange"
      [type]="'js-date'"
      [format]="'yyyy-MM-dd'">
    </ion-range-calendar>

    <hr>
    <ion-button expand="full" color="danger" (click)="removeRange(i)">
      Usuń zakres
    </ion-button>
    <hr>

  </div>




<ion-button expand="block" color="primary" (click)="addRange()">
  ➕ Dodaj nowy zakres
</ion-button>
